<a href="https://colab.research.google.com/github/MohanVishe/-Exploratory-Data-Analysis---Hotel-Booking-Dataset/blob/main/Haberman_Data_Analysis_Individual_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Haberman's Survival Data Set

The dataset contains cases from a study that  was conducted between 1958 and 1970 at the University of Chicago's Billings Hospital on
the survival of patients who had undergone surgery for breast cancer.
All personally identifying information has been removed from the data.
There are mainly 4 features are shown in this dataset where age,year and nodes are independent variables. Where survival status is dependent variable.lets explore and anylyze the data to discover important factors.

**Objective**

1. To predict and to find wheather the patient will survive the given teratment or not 
2. To Find From analysis how much important the given features are.
3. To compair the features and also see the classification through combine features

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Importing packages for EDA

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Overview of Data

In [4]:
# import .csv file to dataframe
HD= pd.read_csv("/content/drive/MyDrive/Projects/EDA(Haberman Dataset)/haberman.csv")

In [5]:
HD.head(3)

   age  year  nodes  status
0   30    64      1       1
1   30    62      3       1
2   30    65      0       1

In [6]:
HD.tail(3)

     age  year  nodes  status
303   77    65      3       1
304   78    65      1       2
305   83    58      2       2

In [8]:
HD.shape

(306, 4)

In [9]:
HD.describe()

              age        year       nodes      status
count  306.000000  306.000000  306.000000  306.000000
mean    52.457516   62.852941    4.026144    1.264706
std     10.803452    3.249405    7.189654    0.441899
min     30.000000   58.000000    0.000000    1.000000
25%     44.000000   60.000000    0.000000    1.000000
50%     52.000000   63.000000    1.000000    1.000000
75%     60.750000   65.750000    4.000000    2.000000
max     83.000000   69.000000   52.000000    2.000000

### Unique Values in columns

In [15]:
for i in HD.columns:
  print('\033[91m' , i , '\033[0m')      # '\033[91m' for colour red and '\033[0m' to end colour
  print('\033[92m' , HD[i].unique() , '\033[0m') 
  print("**************************************************************************")

 age
 [30 31 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54
 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78
 83]
**************************************************************************
 year
 [64 62 65 59 58 60 66 61 67 63 69 68]
**************************************************************************
 nodes
 [ 1  3  0  2  4 10  9 30  7 13  6 15 21 11  5 23  8 20 52 14 19 16 12 24
 46 18 22 35 17 25 28]
**************************************************************************
 status
 [1 2]
**************************************************************************

In [16]:
HD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     306 non-null    int64
 1   year    306 non-null    int64
 2   nodes   306 non-null    int64
 3   status  306 non-null    int64
dtypes: int64(4)
memory usage: 9.7 KB

####Data points for each class are present/Different survival status and there count

In [18]:
HD["status"].value_counts()

1    225
2     81
Name: status, dtype: int64